body {
  font-family: 'Times New Roman', Times, serif;
  background: white;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
}

#excusa {
  font-size: 40px;
  background: white;
  padding: 30px;

}

h1 {
  font-size: 60px;
}